{% extends 'layout/layout.html' %}
{% load staticfiles %}
{% block content %}
<li class="forumbit_nopost old L1" id="cat1">
<!-- Start Forum tcat Heading PureVB -->
<div class="forumBitBoxTB"><div class="forumbitBoxTL"><div class="forumBitBoxTR"><div class="forumBitBoxTWrap"></div></div></div></div>
<div class="forumbitBoxLeft"><div class="forumbitBoxRight"><div class="forumbitBox">
<div class="tcat">
	<div class="tcatLeft"><div class="tcatRight foruminfo L1 collapse">
		<h2>

			<span class="forumtitle"><a href="forumdisplay.php?1-Twitter-Bootstrap-Help">Twitter Bootstrap Help</a></span>


		</h2>

			<a class="collapse tcatCollapse" id="collapse_c_cat1" href="forum.php#top"><img src="images/styles/iBusiness/buttons/collapse_tcat.png" alt=""></a>

	</div></div>
</div>
<!-- End Forum tcat Heading PureVB -->
<!-- Start Forum thead Heading PureVB -->
<div class="forumbitBody">
<div class="thead_bar">
	<div class="theadrow table">
		<div class="foruminfo td">
			<div class="forumdata">
				<div class="datacontainer">
				Title
				</div>
			</div>
		</div>
		<div class="forumactionlinks td">
			&nbsp;
		</div>
		<div class="forumstats td" align="center">
			&nbsp;
		</div>
		<div class="forumlastpost td">
			Last Post
		</div>

	</div>
</div>
<!-- endForum thead Heading PureVB -->


	<ol id="c_cat1" class="childforum">
		<li id="forum2" class="forumbit_post old L2">
	<div class="forumrow table">
		<div class="foruminfo td">
			<img src="images/styles/iBusiness/statusicon/forum_old-48.png" class="forumicon" id="forum_statusicon_2" alt="">
			<div class="forumdata">
				<div class="datacontainer">
					<div class="titleline">
						<h2 class="forumtitle"><a href="forumdisplay.php?2-HTML-CSS-and-Javascript-Help">HTML, CSS, and Javascript Help</a></h2>
						<span class="viewing">(9 Viewing)</span>
					</div>
					<p class="forumdescription">Have questions? Get Answers!</p>




				</div>
			</div>
		</div>

		<h4 class="nocss_label">Forum Actions:</h4>

		<ul class="forumactionlinks td">
			<li class="forumactionlink rsslink"><a href="external.php?type=RSS2&amp;forumids=2" title="View this forum's RSS feed">View this forum's RSS feed</a></li>

		</ul>

        <h4 class="nocss_label">Forum Statistics:</h4>
		<ul class="forumstats td">
			<li>Threads: 619</li>
			<li>Posts: 919</li>
		</ul>
		<div class="forumlastpost td">
			<h4 class="lastpostlabel">Last Post:</h4>
			<div>

	<p class="lastposttitle">


	<a href="showthread.php?2447-bootstrap-switch-check-for-indeterminate-state&amp;goto=newpost" class="threadtitle" title="Go to first unread post in thread 'bootstrap switch: check for indeterminate state'">bootstrap switch: check for...</a>
	</p>
	<div class="lastpostby">

		by <div class="popupmenu memberaction" id="yui-gen6">
	<a class="username online popupctrl" href="member.php?1573-gib65" title="gib65 is online now" id="yui-gen8"><strong>gib65</strong></a>
	<ul class="popupbody memberaction_body" id="yui-gen7">
		<li class="left">
			<a href="member.php?1573-gib65" class="siteicon_profile">
				View Profile
			</a>
		</li>

		<li class="right">
			<a href="search.php?do=finduser&amp;userid=1573&amp;contenttype=vBForum_Post&amp;showposts=1" class="siteicon_forum" rel="nofollow">
				View Forum Posts
			</a>
		</li>


		<li class="left">
			<a href="private.php?do=newpm&amp;u=1573" class="siteicon_message" rel="nofollow">
				Private Message
			</a>
		</li>












	</ul>
</div>

	</div>
	<p class="lastpostdate">Today <span class="time">03:25 PM</span>

			</p></div>
		</div>

	</div>

</li><li id="forum3" class="forumbit_post old L2">
	<div class="forumrow table">
		<div class="foruminfo td">
			<img src="images/styles/iBusiness/statusicon/forum_old-48.png" class="forumicon" id="forum_statusicon_3" alt="">
			<div class="forumdata">
				<div class="datacontainer">
					<div class="titleline">
						<h2 class="forumtitle"><a href="forumdisplay.php?3-LESS-Help">LESS Help</a></h2>

					</div>
					<p class="forumdescription">The dynamic stylesheet language</p>




				</div>
			</div>
		</div>

		<h4 class="nocss_label">Forum Actions:</h4>

		<ul class="forumactionlinks td">
			<li class="forumactionlink rsslink"><a href="external.php?type=RSS2&amp;forumids=3" title="View this forum's RSS feed">View this forum's RSS feed</a></li>

		</ul>

        <h4 class="nocss_label">Forum Statistics:</h4>
		<ul class="forumstats td">
			<li>Threads: 6</li>
			<li>Posts: 6</li>
		</ul>
		<div class="forumlastpost td">
			<h4 class="lastpostlabel">Last Post:</h4>
			<div>

	<p class="lastposttitle">


	<a href="showthread.php?410-Jquery-Colorbox-Inline-Html&amp;goto=newpost" class="threadtitle" title="Go to first unread post in thread 'Jquery Colorbox Inline Html'">Jquery Colorbox Inline Html</a>
	</p>
	<div class="lastpostby">

		by <div class="popupmenu memberaction" id="yui-gen9">
	<a class="username offline popupctrl" href="member.php?658-Melissa" title="Melissa is offline" id="yui-gen11"><strong>Melissa</strong></a>
	<ul class="popupbody memberaction_body" id="yui-gen10">
		<li class="left">
			<a href="member.php?658-Melissa" class="siteicon_profile">
				View Profile
			</a>
		</li>

		<li class="right">
			<a href="search.php?do=finduser&amp;userid=658&amp;contenttype=vBForum_Post&amp;showposts=1" class="siteicon_forum" rel="nofollow">
				View Forum Posts
			</a>
		</li>


		<li class="left">
			<a href="private.php?do=newpm&amp;u=658" class="siteicon_message" rel="nofollow">
				Private Message
			</a>
		</li>












	</ul>
</div>

	</div>
	<p class="lastpostdate">02-13-2015 <span class="time">03:25 PM</span>

			</p></div>
		</div>

	</div>

</li><li id="forum4" class="forumbit_post old L2">
	<div class="forumrow table">
		<div class="foruminfo td">
			<img src="images/styles/iBusiness/statusicon/forum_old-48.png" class="forumicon" id="forum_statusicon_4" alt="">
			<div class="forumdata">
				<div class="datacontainer">
					<div class="titleline">
						<h2 class="forumtitle"><a href="forumdisplay.php?4-Customize-and-Extending-Help">Customize and Extending Help</a></h2>

					</div>





				</div>
			</div>
		</div>

		<h4 class="nocss_label">Forum Actions:</h4>

		<ul class="forumactionlinks td">
			<li class="forumactionlink rsslink"><a href="external.php?type=RSS2&amp;forumids=4" title="View this forum's RSS feed">View this forum's RSS feed</a></li>

		</ul>

        <h4 class="nocss_label">Forum Statistics:</h4>
		<ul class="forumstats td">
			<li>Threads: 41</li>
			<li>Posts: 62</li>
		</ul>
		<div class="forumlastpost td">
			<h4 class="lastpostlabel">Last Post:</h4>
			<div>

	<p class="lastposttitle">


	<a href="showthread.php?2364-Custom-navbar-search&amp;goto=newpost" class="threadtitle" title="Go to first unread post in thread 'Custom navbar search'">Custom navbar search</a>
	</p>
	<div class="lastpostby">

		by <div class="popupmenu memberaction" id="yui-gen12">
	<a class="username offline popupctrl" href="member.php?1235-Rick" title="Rick is offline" id="yui-gen14"><strong>Rick</strong></a>
	<ul class="popupbody memberaction_body" id="yui-gen13">
		<li class="left">
			<a href="member.php?1235-Rick" class="siteicon_profile">
				View Profile
			</a>
		</li>

		<li class="right">
			<a href="search.php?do=finduser&amp;userid=1235&amp;contenttype=vBForum_Post&amp;showposts=1" class="siteicon_forum" rel="nofollow">
				View Forum Posts
			</a>
		</li>













	</ul>
</div>

	</div>
	<p class="lastpostdate">04-24-2016 <span class="time">01:49 PM</span>

			</p></div>
		</div>

	</div>

</li>
	</ol>

</div>
<div class="bottomBar"><div class="bottomBarLeft"><div class="bottomBarRight">&nbsp;</div></div></div>
</div></div></div>
<div class="forumBitBoxTBB"><div class="forumbitBoxBL"><div class="forumBitBoxBR"><div class="forumBitBoxBWrap"></div></div></div></div>
</li>
{% endblock %}
